.navbar {
  height: 70px;
}

.navbar.container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;

}

.navbar-brand {
  color: black;
  text-decoration: none;
  white-space: nowrap;

}


.masthead {
  position: relative;
  background-size: cover;
  background-color: #092854;
  padding-top: 11rem;
  height: 600px;
  width: 100%;

}
.masthead h1{
  font-size: 3rem;
}

.container {
  max-width: 540px;
}

.icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.icons .icons-item .icons-icon {
  height: 7rem;
}

.icons .icons-item .icons-icon i {
  font-size: 4.5rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

.footer.containr.row.col {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}



.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}


.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}